@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
button{
    border: none;
    background-color: transparent;
}
/* .row div{
    border: 1px dashed greenyellow;
} */
.title{
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #000000;
}
@media only screen and (max-width:400px){
    .title{
        font-size: 20px;
    }
}

#preview{
    background: linear-gradient(95.6deg, rgba(41, 137, 68, 0.71) 27.71%, rgba(41, 137, 68, 0.5609) 95.19%);
}
#preview h1{
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.22em;
}
@media only screen and (min-width:1200px){
    #preview h1{
        font-size: 60px;
    }
}

#preview a{
    text-decoration: none;
    color: #FFFFFF;
}
#preview .active{
    border-bottom: 2px solid white;
}
@media only screen and (max-width:560px){
    #preview h1{
        font-size: medium;
     }
}
@media only screen and (max-width:400px){
    #preview h1{
        font-size: small;
    }
}

#menu a{
    font-size: 25px;
}
@media only screen and (min-width:1600px){
    #menu a{
        font-size: 35px;
    }
}

@media only screen and (max-width:1000px){
    #menu a{
        font-size: 20px;
    }
}

@media only screen and (max-width:768px){
    #menu{
        display: none;
    }
}
@media only screen and (min-width:768px){
    #burger{
        display: none;
    }
}

#wiy .row{
    margin-top: 20px;
}
#wiy a{
    text-decoration: none;
}
#language a, #wiy #language span{
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: 0.1em;

    color: #686C69;
}
#language .active{
    color: #84BB93;
}
#wiy p{
    margin-top: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 49px;
    letter-spacing: -0.055em;

    color: #000000;

}
@media only screen and (max-width:500px){
    #wiy #language a, #wiy #language span{
        font-size: smaller;
    }
}
@media only screen and (max-width:440px){
    #wiy #language a, #wiy #language span{
        font-size: 13px;
    }
}



#about .row{
    margin-top: 20px;
}
#about #about-img img{
    border-radius: 1000px;
}
#about h6{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -0.055em;
}
@media only screen and (max-width:400px){
    #about h6{
        font-size: 20px;
    }
}

#about .read-less-btn{
    display: none;
}
#about button{
    padding: 10px;
}
#about h4{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: -0.055em;

    color: #000000;
}
@media only screen and (min-width:550px) and (max-width:767px){
    #about #readMore img{
        width: 80%;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    #about #readMore img{
        width: 60%;
    }
}
@media only screen and (min-width:992px) and (max-width:1200px){
    #about h4{
        font-size: 20px;
    }
}

#recent h3{
    margin-top: 20px;
}
.carousel-inner{
    overflow: hidden;
}
.carousel-item{
    margin-top: 50px;
    margin-bottom: 50px;
}
.card{
    padding: 30px 30px 0px 30px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}
.card p{
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.055em;
    
    color: #000000;

}
.card img{
    border: 2px solid #298944;
    border-radius: 5px;
}
@media only screen and (max-width:768px){
    #carousel-1{
        display: none;
    }
}
@media only screen and (min-width:769px){
    #carousel-2{
        display: none;
    }
}
@media only screen and (max-width:500px){
    #carousel-2 button img{
        width: 50px;
    }
    #carousel-2 p{
        font-size: 12px;
    }
}

#news a{
    text-decoration: none;
}
#news .row{
    margin-top: 20px;
}
#news .card{
    margin-bottom: 20px;
}

#footer{
    background: linear-gradient(95.6deg, rgba(41, 137, 68, 0.71) 27.71%, rgba(41, 137, 68, 0.5609) 95.19%);
}
#footer h6{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 0.22em;

    color: #FFFFFF;
}
#footer a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.055em;

    color: #FFFFFF;
}
@media only screen and (max-width:576px){
    #socials-lg{
        display: none;
    }
}
@media only screen and (min-width:577px){
    #socials-sm{
        display: none;
    }
}
#footer #copy{
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
}
#footerMenuRu .col{
    font-size: 15px;
}





#nav-menu{
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(213.07deg, #78B47C 26.52%, rgba(120, 180, 124, 0) 106.83%);
    height: 100%;
    display: none;
}
#nav-menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 70px;
    letter-spacing: 0.15em;
}
@media only screen and (max-width:470px){
    #nav-menu a{
        font-size: 20px;
        
    }
}


